<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Musiposium</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  {{>header}}

  <br>

  <main>
    <section class="text-gray-400 bg-gray-900 body-font">
      <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
        <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
          <h1 class="title-font font-medium text-3xl text-white">Connect with Music. Connect with People.</h1>
          <p class="leading-relaxed mt-4">"It's like Wikipedia/IMDb and Reddit created a musical genius!" Musiposium
            offers
            everything you want to know about your favorite artists and provides a forum for subscribers to have
            conversations about their musical tastes.
          </p>
        </div>
        {{{ body }}}
      </div>
    </section>
  </main>

  {{> footer}}



  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>