<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="album-art">Album Art</label>
      <input type="image-url" id="album-art" name="album-art" />
    </div>
    <div>
      <label for="album-title">Album Title</label>
      <input id="text" name="album-title" />
    </div>
    <div>
      <label for="album-artist">Album Artist</label>
      <input id="text" name="album-artist" />
    </div>
    <div>
      <label for="album-review">Album Review</label>
      <input id="text" name="album-review" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>