<form class="login-form"
  , "lg:w-2/6 md:w-1/2 bg-gray-800 bg-opacity-50 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
  <h2 class="text-white text-lg font-medium title-font mb-5">Create Account</h2>

  <div class="relative mb-4">
    <label for="email-login" class="leading-7 text-sm text-gray-400">E-mail:</label>
    <input type="text" id="email-login"
      class="w-full bg-gray-600 bg-opacity-20 focus:bg-transparent focus:ring-2 focus:ring-blue-900 rounded border border-gray-600 focus:border-blue-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
  </div>

  <div class="relative mb-4">
    <label for="password-login" class="leading-7 text-sm text-gray-400">Password:</label>
    <input type="password" id="password-login"
      class="w-full bg-gray-600 bg-opacity-20 focus:bg-transparent focus:ring-2 focus:ring-blue-900 rounded border border-gray-600 focus:border-blue-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
  </div>

  <div>
    <button type="submit"
      class="text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg">Sign
      In</button>
  </div>
  <div>
    <p class="text-xs mt-3">Don't have an account? Sign Up</p>
  </div>
</form>


<form class="signup-form" ,
  class="lg:w-2/6 md:w-1/2 bg-gray-800 bg-opacity-50 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
  <h2 class="text-white text-lg font-medium title-font mb-5">Create Account</h2>

  <div class="relative mb-4">
    <label for="username-signup" class="leading-7 text-sm text-gray-400">Username:</label>
    <input type="text" id="username-signup"
      class="w-full bg-gray-600 bg-opacity-20 focus:bg-transparent focus:ring-2 focus:ring-blue-900 rounded border border-gray-600 focus:border-blue-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
  </div>

  <div class="relative mb-4">
    <label for="email-signup" class="leading-7 text-sm text-gray-400">E-mail:</label>
    <input type="text" id="email-signup"
      class="w-full bg-gray-600 bg-opacity-20 focus:bg-transparent focus:ring-2 focus:ring-blue-900 rounded border border-gray-600 focus:border-blue-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
  </div>

  <div class="relative mb-4">
    <label for="password-signup" class="leading-7 text-sm text-gray-400">Password:</label>
    <input type="password" id="password-signup"
      class="w-full bg-gray-600 bg-opacity-20 focus:bg-transparent focus:ring-2 focus:ring-blue-900 rounded border border-gray-600 focus:border-blue-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
  </div>

  <div>
    <button type="submit"
      class="text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg">Sign
      Up</button>
  </div>

  <div>
    <p class="text-xs mt-3">Already have an account? Log In</p>
  </div>
</form>

<script src="/javascript/login.js"></script>


{{!-- <form class="login-form">
  <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
</form>

<form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>

<script src="/javascript/login.js"></script> --}}