

<form class="login-form">
  <div class="has-text-white">
    <label for="email-login">Email:</label>
    <input type="text" id="email-login" placeholder="Enter email address" />
  </div>
  <div class="has-text-white">
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" placeholder="Enter password" />
  </div>
  <div>
    <input class = "button is-info" type="submit" value="Login">
  </div>
</form>

<form class="signup-form">
  <div class="has-text-white">
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" placeholder="Enter username" />
  </div>
  <div class="has-text-white">
    <label for="email-signup">Email:</label>
    <input type="text" id="email-signup" placeholder="Enter email address" />
  </div>
  <div class="has-text-white">
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" placeholder="Enter password" />
  </div>
  <div>
    <input class = "button is-info" type="submit" value="Sign up">
  </div>
</form>

<script src="/javascript/login.js"></script>