<section
  class="min-h-96 flex justify-center items-center flex-1 shrink-0 bg-gray-900 overflow-hidden shadow-lg relative py-16 md:py-20 xl:py-48">
  <!-- image - start -->
  <img src="/images/img_hero.webp" loading="lazy" alt="Musiposium. Connecting People Through Music."
    class="bg-gray-900 w-full h-full object-cover object-center absolute inset-0" />
  <!-- image - end -->

  <!-- overlay - start -->
  <div class="bg-indigo-500 mix-blend-multiply absolute inset-0"></div>
  <!-- overlay - end -->

  <!-- text start -->
  <div class="sm:max-w-xl flex flex-col items-center relative p-4">
    <p class="text-indigo-200 text-lg sm:text-xl text-center mb-4 md:mb-8">A New Music Experience</p>
    <h1 class="text-white text-4xl sm:text-5xl md:text-6xl font-bold text-center mb-8 md:mb-12">Share Your Thoughts.
      <br>
      Make Connections.
    </h1>

    <div class="w-full flex flex-col sm:flex-row sm:justify-center gap-2.5">
      <a href="/login"
        class="inline-block bg-indigo-500 hover:bg-indigo-600 active:bg-indigo-700 focus-visible:ring ring-indigo-300 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3">Sign
        Up</a>

      <a href="/login"
        class="inline-block bg-gray-200 hover:bg-gray-300 focus-visible:ring ring-indigo-300 text-gray-500 active:text-gray-700 text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3">Sign
        In</a>
    </div>
  </div>
  <!-- text end -->
</section>

<section class="text-gray-400 bg-gray-900 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap items-top">
    <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
      <h1 class="title-font font-medium text-3xl text-white">Connect with Music. Connect with People.</h1>
      <p class="leading-relaxed mt-4">Musiposium offers everything you want to know about your favorite artists and
        provides a forum for subscribers to have conversations about their musical tastes.
      </p>
    </div>
    <div
      class="lg:w-2/6 md:w-1/2 bg-gray-800 bg-opacity-50 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
      <form class="login-form">
        <h2 class="text-white text-lg font-medium title-font mb-5">Account Login</h2>

        <div class="relative mb-4">
          <label for="email-login" class="leading-7 text-sm text-gray-400">E-mail:</label>
          <input type="text" id="email-login" placeholder="Enter E-Mail Address"
            class="w-full bg-gray-600 bg-opacity-20 focus:bg-transparent focus:ring-2 focus:ring-indigo-900 rounded border border-gray-600 focus:border-indigo-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>

        <div class="relative mb-4">
          <label for="password-login" class="leading-7 text-sm text-gray-400">Password:</label>
          <input type="password" id="password-login" placeholder="Enter Password"
            class="w-full bg-gray-600 bg-opacity-20 focus:bg-transparent focus:ring-2 focus:ring-indigo-900 rounded border border-gray-600 focus:border-indigo-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>

        <div>
          <input
            class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"
            type="submit" value="Sign In">
        </div>

        <div>
          <p class="text-xs mt-3">Don't have an account? Sign Up</p>
        </div>
      </form>

      <br>

      <form class="signup-form">
        <h2 class="text-white text-lg font-medium title-font mb-5">Create Account</h2>

        <div class="relative mb-4">
          <label for="username-signup" class="leading-7 text-sm text-gray-400">Username:</label>
          <input type="text" id="username-signup" placeholder="Create Username"
            class="w-full bg-gray-600 bg-opacity-20 focus:bg-transparent focus:ring-2 focus:ring-indigo-900 rounded border border-gray-600 focus:border-indigo-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>

        <div class="relative mb-4">
          <label for="email-signup" class="leading-7 text-sm text-gray-400">E-mail:</label>
          <input type="text" id="email-signup" placeholder="Enter E-mail Address"
            class="w-full bg-gray-600 bg-opacity-20 focus:bg-transparent focus:ring-2 focus:ring-indigo-900 rounded border border-gray-600 focus:border-indigo-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>

        <div class="relative mb-4">
          <label for="password-signup" class="leading-7 text-sm text-gray-400">Password:</label>
          <input type="password" id="password-signup" placeholder="Create Password"
            class="w-full bg-gray-600 bg-opacity-20 focus:bg-transparent focus:ring-2 focus:ring-indigo-900 rounded border border-gray-600 focus:border-indigo-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>

        <div>
          <input
            class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-800 rounded text-lg"
            type="submit" value="Sign Up">
        </div>

        <div>
          <p class="text-xs mt-3">Already have an account? Log In</p>
        </div>
      </form>
    </div>
  </div>
</section>


<script src="/javascript/login.js"></script>


{{!-- <form class="login-form">
  <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
</form>

<form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>

<script src="/javascript/login.js"></script> --}}